<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace = "base :: header"></header>
<body class="scheme-primary">
	<div th:replace = "base :: navigation"></div>
	<div>
		<a href="/testing">Testing current function</a><br/><br/>
		<a href="/populateDatabase">populate Database</a>
	</div>
	
	<h1>ADMINISTRATIVE!</h1>
		<div th:text = "${fromController}"></div>
	<p th:text = "${random}">
	</p>
	<p th:text = "${random2}">
	</p>
	<div th:replace = "base :: footerBanner"></div>
</body>
</html>

