<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="header">
		<title>Movies</title>
		<link th:href="@{/css/styles.css}" rel="stylesheet" />
		<script th:src="@{/js/script.js}"></script>
		<script type="text/javascript" src="../webjars/jquery/3.1.1/dist/jquery.min.js"></script>
	</head>	
	
	<body>
	
		<div id="navigation" th:fragment="navigation">
			<a href="/">Home</a><br/>
			<a href="/signup">create account</a><br/>
			<a href="/signin">sign in</a><br/>
			<a href="/trending">Select movies</a><br/>
			<a href="/userlist">user list</a><br/>
			<a href="/signout">Sign out</a><br/>
			<a href="/testing">Testing</a><br/>
			<a href="/populateDatabase">populate Database</a>
			
		</div>
		<div th:text="${#httpSession.getAttribute('userSessionKey')}">
		
		</div>
		
		<div id="smallMovieDisplay" th:fragment="smallMovieDisplay">
			<h1 th:text="${movieTemplateTitle}" >
			</h1>
			<h1 th:text="${movie.title}" >
			</h1>
			<img th:src="${imageBaseUrl} + ${movie.poster_path}" alt="Movie Picture" >
			</img>
			<p th:text="${movie.overview}" style="width: 300px;" >Movie description here
			</p>
			<script type="text/javascript" >"${movieTemplateTitle}"</script>
		
		
		
		</div>
		
		
	</body>
</html>


	