<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="header">
		<title>Movies</title>
		
		<script th:src="@{/js/script.js}"></script>
		<script type="text/javascript" src="../webjars/jquery/3.1.1/dist/jquery.min.js"></script>
		<script type="text/javascript" src="../webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<link rel='stylesheet' href='../webjars/bootstrap/3.2.0/css/bootstrap.min.css'/>
		<!-- <link th:href="@{/css/styles.css}" rel="stylesheet" /> -->
	</head>	
	
	<body>
	
		<div id="navigation" th:fragment="navigation">
			
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="/home">Home <small>(User)</small></a>
			    </div>
			
			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="/trending">Like Movies <span class="sr-only">(current)</span></a></li>
			        <li><a href="/userlist">Other Users</a></li>
			       
			      </ul>
			      
			      <!--  
			      <form class="navbar-form navbar-left">
			        <div class="form-group">
			          <input type="text" class="form-control" placeholder="Search"></input>
			        </div>
			        <button type="submit" class="btn btn-default">Submit</button>
			      </form>
			      -->
			      
			      <ul class="nav navbar-nav navbar-right">
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>Account Options <span class="caret"></span></b></a>
			          <ul class="dropdown-menu">
			            <li><a href="/signin">Sign In</a></li>
			            <li><a href="/signout">Sign Out</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="/signup">Create Account</a></li>


			          </ul>
			        </li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
			
		</div>
		
		<div th:text="${#httpSession.getAttribute('userSessionKey')}">
		</div>
		
		<div id="smallMovieDisplay" th:fragment="smallMovieDisplay" class="jumbotron">
			<div class="row">
			<!--  <h1 th:text="${movieTemplateTitle}" >
			</h1>-->
			
			<div class="col-xs-6 col-md-4 col-lg-4">
			<img th:src="${imageBaseUrl} + ${movie.poster_path}" alt="Movie Picture" >
			</img>
			</div>
			
			
			
			<div class="col-xs-6 col-md-4 col-lg-4">
			<h1 th:text="${movie.title}" >
			</h1>
		
			<p th:text="${movie.overview}" >Movie description here
			</p>
			</div>
			
			<div class="clearfix"></div>
			<!-- <script type="text/javascript">"${movieTemplateTitle}"</script> -->
		</div>
		</div><!-- end rows -->
		
		<div id="movieInviteForm" th:fragment="movieInviteForm">
			<h1>Invite your friends!</h1>
			<form action="/invite" method="post">
				<label>Send a personalized message</label>
				<input type="text" name="message" value="Please attend my movie viewing" size="100"></input>
				<ul th:each = "user : ${friendsWhoLike}">
					<input type = "checkbox" name="invited" th:text="${user.userName}" th:value="${user.uid}"></input>
				</ul>
				<input type="hidden" name = "movieid" th:value="${movie.id}"></input>
				<button type="submit">Invite</button>
			</form>
		</div>
		<!-- Movie Invite Display
			This is for the user's home page -->
		<div id="inviteDisplay" th:fragment="inviteDisplay" class="jumbotron" style="width:1200px">
			<div class ="row"><!-- header of invite -->
			
				<h2 th:text="'Would you like to watch ' + ${correspondingMovies[iterStat.index].title}"></h2>
				
			</div><!-- end header of invite -->
			
			<div class="row"><!-- body of invite Section-->
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 "><!-- col1 -->
					<div class="container">
					<img th:src="${imageBaseUrl} + ${correspondingMovies[iterStat.index].poster_path}" alt="Movie Picture" ></img>
					</div>
				</div><!-- end col1 -->
				
				<div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6"><!-- col2 -->
					<h4 ><b>HOST:&nbsp;</b> <span th:text="${invite.invitor.userName}"></span></h4>
					<h4 ><b>Message:&nbsp;</b><span th:text="${invite.message}"></span></h4>
					
					<h4><b>Invite List:</b></h4>
					<ul>
							<li th:each="aguest : ${invite.invited}" th:text="${aguest.userName}"></li>
					</ul>
				</div><!-- end col2 -->
				
				
			</div><!-- end rows / body of invite -->
		</div><!-- end Invite display -->
		
		<!-- footBanner 
			used at the bottom of every page to display the necessary advertisements-->
		<div id="footerBanner" th:fragment="footerBanner" class="jumbotron">
			<div class="row">
			<div class="col-xs-6 col-md-3 col-lg-12 ">
				<img class="pull-right" src="https://www.themoviedb.org/assets/static_cache/9b3f9c24d9fd5f297ae433eb33d93514/images/v4/logos/408x161-powered-by-rectangle-green.png"></img>
			</div>
			</div>
		
		</div><!-- end footBanner -->
		
	</body>
</html>


	