<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace = "base :: header"></header>
<body>
	<div th:replace = "base :: navigation"></div>
	
	<h1>Movies Home</h1>
		<div th:text = "${fromController}"></div>
	<p th:text = "${random}">
	</p>
	<p th:text = "${random2}">
	</p>
	
	<div th:each = "invite : ${homeUserInvites}">
		<p th:text = "${invite.message}"></p>
		<div th:each = "person : ${invite.invited}">
			
			<p th:text = "${person.userName}">
			</p>
		</div>
	<!-- 
	<div th:replace = "base :: inviteDisplay"></div>
	 -->
	</div>
</body>
</html>