<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace = "base :: header"></header>
<body>
<div ><!-- major container -->
	<div th:replace = "base :: navigation" ></div>
	
	<h1>Movies Home</h1>
		<div th:text = "${fromController}"></div>
	<p th:text = "${random}">
	</p>
	<p th:text = "${random2}">
	</p>
	
		<script>
		//TODO - remove this script move to back end
		function movieObjectPopulate(tmdbid){
            //This function creates a movie object for user while displaying
            //a movie through an invite entry where all that is passed to 
            //the front end it the tmdbid.  It should work similar to a movie
            //service object. 
            var baseUrl = "https://api.themoviedb.org/3/movie/";
            var apiKey = "e34f926e66fa7ffcaaea86c905cf10de";
            var midUrl = "?api_key=";
            var url = baseUrl + tmdbid + midUrl + apiKey;
            $.getJSON (url,
                function(data) {
                	//declair some stuff
                	 $('#movieTitle').text('');
                    $(data).each(function(id, title, poster_path, overview, release_date, runtime, status, backdrop_path){
                        
                        $('#movieTitle').append(this.title);
                    });
                });
            
}
		
		</script>	
	<!-- Start main homepage master template -->
	
	<div class="row"><!-- master template row -->
	<div class="col-xs-12 col-sm-12 col-med-6 col-lg-6"><!-- column spacer -->
	<div th:each = "invite,iterStat : ${homeUserInvites}">
		<!-- 
		<p th:text = "${invite.message}"></p>
		<p th:text = "'You have been invited to a movie by: ' + ${invite.invitor.userName}"></p>
		<div th:each = "person : ${invite.invited}">
			<p th:text = "${person.userName}"></p>
		</div>
	 -->
	<div th:replace = "base :: inviteDisplay"></div>
	
	</div><!-- end populate invites -->
	</div><!-- column spacer -->
	
	<!-- list of movies liked by loggedin -->
	<div class="col-xs-12 col-sm-12 col-med-3 col-lg-3">
	<h3>These are the movies you like!</h3>
	<div th:each = "movie : ${movieList}">
			<a th:href="@{../moviePage(movieId=${movie.tmdbid})}" th:text = "${movie.title}">problem</a>
	</div>
	</div><!-- End Loggedin -->
	
	<!-- list of friends -->
	<div class="col-xs-12 col-sm-12 col-med-3 col-lg-3">
	<h3>These are your friends!</h3>
	<div th:each = "friend : ${friends}">
			<a th:href="@{../user/{usrnm}(usrnm=${friend.userName})}" th:text = "${friend.userName}">
			</a>	
	</div>
	</div><!-- end column -->
	
	</div><!-- end master template row -->
		<!-- end main page master template -->
		
	<div th:replace = "base :: footerBanner"></div>
	</div><!-- End major container -->
</body>
</html>