<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace = "base :: header"></header>

<body class="scheme-primary">
	<div th:replace = "base :: navigation"></div>
	
	
    <div class="row">
		<div th:replace = "base :: smallMovieDisplay" class="col-xs-12 col-md-12"></div>
		
		<form method = "post" class="col-xs-12 col-md-12">
		
			<label>Like this movie <div th:text = "${movie.title}"></div></label>
			<button class="btn btn-default" formaction="../movieLikeSelected" name="movieId" th:value="${movie.id}">submit</button>
		</form>
	</div><!-- End Rows -->
	<h1>Fellow Fans!</h1>
	<div th:each = "user : ${usersWhoLike}">
		<a th:href="@{../user/{usrnm}(usrnm=${user.userName})}" th:text="${user.userName}"></a>
	</div>
	<br/>
	<br/>
	<form>
	
	<!-- TODO- This should list friends who like this movie with the option to friend them-->
	
	</form>
	
	<!-- TODO - This should allow me to schedule a time to watch the movie and create an invite -->
	<div th:replace = "base :: movieInviteForm"></div>
	

</body>
</html>