<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace = "base :: header"></header>

<body class="scheme-primary">
	<div th:replace = "base :: navigation"></div>
	
	<!-- movies loop to display movies of same title -->
    <div th:each = "movie : ${movies}" class="jumbotron">
  	<div th:replace = "base :: smallMovieDisplay"></div>
  	<p th:text="'Movie rating adult?: ' + ${movie.adult}"></p>
  	<form method = "post" >
  		<input type = "hidden" th:value = "${movie.id}" name = "movieId" ></input>
  		<button class = "btn btn-default" formaction = "/movieLikeSelected">Like this movie</button>
  	</form>
	</div>
	
	<div th:replace = "base :: footerBanner"></div>
</body>
</html>