<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace = "base :: header"></header>

<body>
	<div th:replace = "base :: navigation"></div>
	
	<script type="text/javascript" src="../webjars/jquery/3.1.1/dist/jquery.min.js"></script>
    
       
	<h1 th:text="${movieTemplateTitle}" >
	</h1>
	<h1 th:text="${movie.title}" >
	</h1>
	<img th:src="${imageBaseUrl} + ${movie.poster_path}" alt="Movie Picture" >
	</img>
	<p th:text="${movie.overview}" style="width: 300px;" >Movie description here
	</p>
	<script type="text/javascript" >"${movieTemplateTitle}"</script>
	
	<form method = "post">
	<!-- This should like a movie and route to /trending post -->
		<label>Like this movie <div th:text = "${movie.title}"></div></label>
		<button formaction="../trending" name="movieTitle" th:value="${movie.title}">submit</button>
	</form>
	
	<form>
	<!-- TODO- This should list friend who like this movie with the option to friend them-->
	
	</form>
	<form>
	<!-- TODO - This should allow me to schedule a time to watch the movie and create an invite -->
	
	</form>

</body>
</html>