<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace = "base :: header"></header>
<body class="scheme-primary">
	<div th:replace = "base :: navigation"></div>
	<div class="container">
	<h1>Please sign in to your account</h1>
	<form method="post">
				
		<label>Name</label>
			<input name = "name"></input>
			<br/>
		<label>Password</label>
			<input name = "password" type = "password"></input>
			<br/>
		
		<button class="btn btn-default">Submit</button>
	</form>
	<a href="/signup" style="color:red; text-decoration:underline;">Or Sign up here!</a>
	<div th:replace = "base :: footerBanner"></div>
	</div><!-- end page container -->
</body>
</html>