<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace = "base :: header"></header>
<body>
	<div th:replace = "base :: navigation"></div>
	
	<h1>These movies are trending</h1>
	<br/>
	<h2>Pick a movie</h2>
	<form method = "post">
		<!-- This is where a for loop goes with available movies It should come from an array queried to not suck 
		<div th:each = "movie : ${movies}"><button name = "movieTitle" th:value = "${movie.title}" th:text="${movie.title}"></button></div>-->
		<select name = "movieTitle">
			
				<option th:each = "movie : ${movies}" th:value = "${movie.title}" th:text="${movie.title}"></option>
		
		</select>
		<br/>
		<br/>
		<button>Submit DropDown</button>
	</form>
	<h2>Or you can create your own</h2>
	<form method = "post">
		<label>Title of Movie</label>
			<input name = "movieTitle"></input>
			<br/>
		<!-- Add Description or edit description options?  -->
		<button>Submit</button>
	</form>
	<input type="hidden" input="post">
		<i></i>
		<div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
	</input>
	
	<div class="ui fluid search selection dropdown">
  <input type="hidden" name="country">
  <i class="dropdown icon"></i>
  <div class="default text">Select Country</div>
  <div class="menu">
  <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
  <div class="item" data-value="ax"><i class="ax flag"></i>Aland Islands</div>
  <div class="item" data-value="al"><i class="al flag"></i>Albania</div>
  <div class="item" data-value="dz"><i class="dz flag"></i>Algeria</div>
  <div class="item" data-value="as"><i class="as flag"></i>American Samoa</div>
  <div class="item" data-value="ad"><i class="ad flag"></i>Andorra</div>
  <div class="item" data-value="ao"><i class="ao flag"></i>Angola</div>
  <div class="item" data-value="ai"><i class="ai flag"></i>Anguilla</div>
  <div class="item" data-value="ag"><i class="ag flag"></i>Antigua</div>
  <div class="item" data-value="ar"><i class="ar flag"></i>Argentina</div>
  <div class="item" data-value="am"><i class="am flag"></i>Armenia</div>
  <div class="item" data-value="aw"><i class="aw flag"></i>Aruba</div>
  <div class="item" data-value="au"><i class="au flag"></i>Australia</div>
  <div class="item" data-value="at"><i class="at flag"></i>Austria</div>
  <div class="item" data-value="az"><i class="az flag"></i>Azerbaijan</div>
  <div class="item" data-value="bs"><i class="bs flag"></i>Bahamas</div>
</div>
</input>
</div>
</body>
</html>