<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace = "base :: header"></header>
<body>
	<div th:replace = "base :: navigation"></div>
	
	<h1 th:text="${userTemplateTitle}"></h1>
	<div id="movieList">
		<h2 th:text="${user.userName} + '\'s Movie List'"></h2>
		<div th:each = "movie : ${movieList}">
			<a th:href="@{../moviePage(movieId=${movie.tmdbid})}" th:text = "${movie.title}">problem</a>
		</div>
	</div>
	
	
	<div id="friendList">
		<h2 th:text="${user.userName} + '\'s Friend List'"></h2>
		<div th:each = "friend : ${friends}">
			<a th:href="@{../user/{usrnm}(usrnm=${friend.userName})}" th:text = "${friend.userName}">
			</a>	
		</div>
	</div>
	<form method="post">
		<label>Would you like to friend this friend?</label><br/>
			<button th:text = "'Friend ' + ${user.userName} + '?'" th:value = "${user.uid}" name = "userid" th:if="${notFriendsAlready}">
			
			</button>
			<br/>
	</form> 
	<!--  
	<div >
		<h2 th:text="${user.userName} + '\'s Mutual Friend List'"></h2>
		<div th:each = "mfriend : ${mutualFriends}">
			<p th:text = "${mfriend.userName}">
			</p>	
		</div>
	</div>
	-->

</body>
</html>