<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace = "base :: header"></header>
<body>
	<div th:replace = "base :: navigation"></div>
	
	<h1 th:text="${userTemplateTitle}"></h1>
	<p>
		<div th:each = "movie : ${movieList}">
			<p th:text = "${movie.title}">problem</p>
		</div>
	</p>
	<form method="post">
		<label>Would you like to friend this friend?</label><br/>
			<button th:text = "'Friend ' + ${user.userName} + '?'" th:value = "${user.uid}" name = "userid">
			
			</button>
			<br/>
	</form> 
	<p>This user's friends are:  
		<div th:each = "friend : ${friends}">
			<p th:text = "${friend.userName}">
			</p>	
		</div>
	</p>

</body>
</html>